# Feeding control parameters
feeding:
  mode: "autonomous"  # need to add autonmous mode\
  voice: True
  position_vector_threshold: 0.0025 # meters
  servoing_timeout: 20  # seconds

  # options: gemini or dinox (dinox uses ChatGPT)
  detection_model: dinox

  # Available food items for detection
  available_items:
    - sweet potato fry
    - celery

  # for moving to the mouth via visual servoing
  face_detection:
    enabled: True
    gain_planar: 0.35
    gain_depth: 0.35
    target_distance: 0.0  # distance from face to mouth (4cm)
    timeout: 30
  
  # paths for audio cues
  power_on: "/home/mcrr-lab/raf-live/utils/sounds/power_on.mp3"
  confirmation: "/home/mcrr-lab/raf-live/utils/sounds/confirmation.mp3"
  power_off: "/home/mcrr-lab/raf-live/utils/sounds/power_off.mp3"
  snap: "/home/mcrr-lab/raf-live/utils/sounds/snap.mp3"

  # Movement parameters
  z_down_offset: 0.01      # essentially food height (how far down to go on food)
  z_up_offset: 0.10         # how much to bring food up after grasp
  grip_close:  0.075 #0.056  # make sure it closes
  
  # depth from overlook to table (m)
  #dist_from_table: 0.342 for lab
  dist_from_table: 0.327 #last update: eric table trial
  # how far the tips of gripper should be from food after servoing
  dist_from_food: 0.01
  robotiq_offset: 0.0285
  max_retries: 3  # Maximum number of retries for food pickup

  autonomous:
    check_pixel_x: 534  # Pixel x-coordinate for pickup detection
    check_pixel_y: 419 # Pixel y-coordinate for pickup detection
    
    # pixels in the RS frame (848x480 res) for checking
    check_pixel_points:
    - [525,416]
    - [531,416]
      # - [529,429]
      # - [529,430]
    # - [231,181]
    # - [232,184]


    # - [528,431]
    # - [534,435]
    # - [531,433]
    # - [528,435]
    # - [534,431]


    consecutive_checks: 2     # Number of consecutive checks needed to confirm state
    check_interval: 0.3       # Time between checks (seconds)

  service_timeout: 20  
  
  # Display settings
  show_image_time: 0      

# Joint positions remain the same...
joint_positions:
  overlook:
  - -0.01298663873966266
  - 0.29886639569433554
  - -3.047949518075991
  - -1.1299616736574265
  - -0.03380669950968329
  - -1.6738979452362237
  - 0.05766644241365134

  # - 0.023849439799500226
  # - 0.43929241655020546
  # - -3.042683383336468
  # - -1.0788859723752324
  # - -0.04944265090175737
  # - -1.6106398798635722
  # - 0.09799237717952423

  intermediate:
  - -0.4574479846496029
  - 0.4460126372449114
  - -3.0426903075553025
  - -1.691527006388113
  - 1.3278726258539018
  - -1.6106308251158659
  - -0.5939275336651111

  # dist_from_table: 0.359
  # - -0.0011994877549712513 
  # - 0.07462854816004315
  # - 3.127227828986015
  # - -1.6092475792456788
  # - -0.0014040185266894767
  # - -1.419356204039759
  # - 1.5704369332057904

  bite_transfer:
  - -0.5660415738908915
  - 0.6250884492108287
  - -3.013274095418723
  - -1.295076063345685
  - -1.6022152360712152
  - -1.0384453385901615
  - -2.848347724903424

  multi_bite_transfer:
  - -0.5657294514111344
  - 0.6250898473704011
  - -3.0087560426294035
  - -1.2954004363664566
  - -1.4729619083575276
  - -1.0384426754290708
  - -2.848347724903424

  cup_scan:
  - 0.706758877990989
  - 1.0813545895476815
  - -3.138663442706815
  - -1.2422703726193758
  - -1.2306195754824971
  - -1.4453523847044583
  - -2.3985930800108424

  sip:
  - -0.22092625665304944
  - 0.6142502491015606
  - 2.9647505014091524
  - -1.4417246266675523
  - -1.2747897000581156
  - -0.9145407036097888
  - -2.854664210376874



  # - 0.17452548499313755
  # - 0.26193274559073515
  # - 3.141579337784343
  # - -2.268986084504392
  # - -2.6631610898775193e-06
  # - 0.959873164843172
  # - 1.5708012536429132


